.table {
  margin-top: 20px;
  overflow: scroll;
  overflow-x: hidden;
  height: 400px;
  color: #6a5d5d;
}
.table tr {
  display: flex;
  justify-content: space-between;
}
.table tr:nth-of-type(odd) {
  background-color: #f3f2f8;
}

.table td {
  padding: 0.5rem;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.table::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.table {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
